<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/style.css' />
</head>
<body>

	{% block body %}{% endblock %}
	<script src="/app.js"></script>
	
</body>
</html>